.user
{
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)); 
    background-size: cover;
    margin-top: -17px;
    height: 900px;
}

.user h1
{
  font-family: Century Gothic;
  font-size: 25px;
  margin-left: 450px;
  padding-top: 90px;
}

.u-1
{
    margin-left: 475px;
    margin-top: 50px;
    position: absolute;
    transform: translate(-10%,-10%);
    width: 310px;
    height: 210px;
    padding: 5px 5px ;
    box-sizing: border-box;
    background: lightslategrey;
    opacity: 1;
}

.u-1 p
{
  margin:0;
  margin-left: 4px;
  margin-top: 25px;
  padding: 1px;
  font-weight: bold;
  font-color: white; 
  font-size: 15px;
  font-family: cursive;
}

.u-1 input
{
    width: 80%;
    margin-bottom: 2px;
}

.u-1 input[type="text"]
{
    margin-left: 15px;
    margin-top: 25px;
    background: transparent;
    height: 20px;
    width: 80px;
    font-size: 10px;
}

.u-1 input[type="submit"]
{
    margin-left: 100px;
    margin-top: 45px;
    border: none;
    outline: none;
    width: 70px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family:monospace;
}

.u-1 input[type="submit"]:hover
{
    background: blue;
}

.user h2
{
  padding-top: 350px;
  font-family: Century Gothic;
  font-size: 25px;
  margin-left: 275px; 
}

.u-2 table
{
  margin-top: 40px;
  border-collapse: collapse;
  background-color: white;
  margin-left: 275px; 
}

.u-2 th
{
   background-color: darkgray; 
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   font-size: 16px;
   font-family: cursive;
}

.u-2 td
{
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   font-size: 16px;
   font-family: cursive;
}

.u-2 tr:nth-child(even)
{
    background-color: gray;
}
