           *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                list-style-type: none;
                text-decoration: none;
                font-family: Century Gothic;   
            }
            .sidebar {
                width:345px;
                position:absolute;
                left:0;
                top:0;
               height: 1105.5px;
               background: url('7 dea.jpg');
               z-index: 100;
                 
            }
            
            .sidebar-brand {
                height: 90px;
                padding: 1rem 0rem 1rem 2rem;
                color: #fff;
            }
            
            .sidebar-brand span {
                display: inline-block;
           
            }
            
            .sidebar-menu{
                
                margin-top: 1rem;
                
            }
            .sidebar-menu li{
                width: 100%;
                margin-bottom: 1.7rem;
                padding-left: 1rem;
            }
            
            .sidebar-menu a {
                padding-left: 1rem;
                display:block;
                color:#fff;
                font-size: 1.1rem;
                
            }

            .sidebar-menu a.active{
                background: #fff;
                padding-top: 1rem;
                padding-bottom: 1rem;
                color:#005361;
                border-radius: 30px 0px 0px 30px;
            }
             .sidebar-menu a span:first-child{
                font-size: 1.5rem;
                padding-right: 1rem;
                
            }
             
            .main-content{
                margin-left: 345px;
            
            }
            
            header{
                display:flex;
                justify-content: space-between;
                padding:1rem 1.5rem;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
                position: absolute;
                left: 345px;
                width: calc(100% - 345px);
                top:0;
                z-index:100;
            }
            
         
           
            header h2{
               color:#555; 
            }
            
            header label span {
                font-size: 1.7rem;
                padding-right: 1rem;
            }
           .searchbox{
            flex: 1;
            position: relative;
            left:10%;
           }
           .searchbox input{
           width: 465px;
           height: 40px;
           border: none;
           outline: none;
           background:rgb(173, 216, 230);
           border-radius:30px;
           color: #000;
           font-size: 16px;
           text-align: center;
           padding-left: 5px;
            padding-right: 40px;
       
          }
          .searchbox button{
           cursor: pointer;
           width: 40px;
           height: 40px;
           border-radius: 30px;
           border: none;
           position: absolute;
           top: 0;
           right: 0;
           transform: scale(0.9);
           background: #005361;
           left:58%
          }
           .superadmin {
               display:flex;
               align-items: center;
           }
           
           .superadmin img{
              border-radius: 50%;
              margin-right: 1rem;
              
           }
           
           .superadmin small{
               display: inline-block;
               color: #005361;
               
           }
           
           main{
               margin-top: 53px;
               padding: 2rem 1.5rem;
               background: rgb(173, 216, 230);
               min-height: calc(100vh - 90px);
               
           }
           
           .cards{
               display: grid;
               grid-template-columns:repeat(4, 1fr);
               grid-gap:2rem;
               margin-top: 1rem;
           }
           
           .card{
               display: flex;
               justify-content: space-between;
               background: #fff;
               padding:2rem;
               border-radius: 30px;
           }
           
       
           .card div:last-child span{
                
                 font-size: 3rem;
                 color: #005361;
           }
           
           .card div:first-child span{
             
              color: #005361;
           }
           
           .card:last-child {
               background: #005361;
           }
           
            .card:last-child h1, 

           .card:last-child div:first-child span,
   
           .card:last-child div:last-child span{
             
              color: #fff;
           }
           
           .recent-grid{
               margin-top: 3.5rem;
               display: grid;
               grid-gap: 2rem;
               grid-template-columns:65% auto;
             
           }
           
           .cardd{
               background: #fff;
               border-radius: 10px;
           }
           
           .card-header,
           .card-body{
               padding: 1rem;
               
           }
           
           .card-header{
               display: flex;
               justify-content: space-between;
               align-items: center;
               border-bottom: 1px solid #f0f0f0;
           }
           .card-header button{
               
               background: #005361;
               border-radius: 10px;
               color: #fff;
               font-size:.8rem;
               padding:.5rem 1rem;
               border: none;
                   
           }
           table{
               border-collapse: collapse;
           }
           thead tr {
               border-top : 1px solid #f0f0f0;
               border-bottom: 2px solid #f0f0f0;
          
               
           }
           
           thead td{
           
              font-weight: 700;
           }
           td{
                  padding: .5rem 1rem;
                  font-size:.9rem;
                  color:#222;
             
           }
           
           td .status{
               display: inline-block;
               height: 20px;
               width:20px;
               border-radius: 50%;
              margin-right: 1rem;
           }
           .tr td:last-child{
               display: flex;
               align-items: center;
           }
           .status.one{
              background : #005361;
           }
            .status.two{
               background: #808080
           }
            .status.three{
               background: #005361;
           }
           .table-responsive{
               width: 100%;
               overflow-x: auto;
               
           }
           .customer{
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: .5rem .7rem;
           }
           
           .info{
               display: flex;
               align-items: center;
           }
           
           .info img{
               border-radius: 50%;
               margin-right: 1rem;
           }
           
           .info h4{
               font-size: .8rem;
               font-weight: 600;
               color: #222
           }
           
           .info small{
               font-weight: 600;
               color:#005361;
           }
           
           .contact span{
               font-size: 1.2rem;
               display: inline-block;
               margin-left: .5rem;
               color: #005361;
               
           }
           header .menu{
    font-size: 1.5em;
    display: none;
}
@media(max-width:1000px){
    .searchbox button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right  0.5s linear;
       
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
    }
}
#chk1{
    display: none;
}


           footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 500px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top :.1px;


    }
    
footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: row;
        color: #fff;

    }


.contactinfo{
        max-width: 100%;
        background: #111;
        padding: 8px 100px;
        text-align: center;
        color: #fff;


    }

.contactinfo .cinfo{
    position: relative;


    }

 .contactinfo .cinfo li{
       display: flex;
       margin-bottom: 16px;

    }

 
 .contactinfo.cinfo li span{
    color: #fff;
    }

.contactinfo .cinfo li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;

    }

.contactinfo .cinfo a{
    color: #fff;
    text-decoration: none;

    }
.contactinfo .cinfo a:hover{
        color: #fff;

    }
.copyrightText{
    max-width: 100%;
    background: #111;
    padding: 30px 13px;
    text-align: center;
    color: #fff;

}


