*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

body{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('4 dea.jpg');
height: 100vh;
background-size: cover;
background-position: center;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   position: relative;
   z-index: 99;

}
ul li.active a{
    color: #fff;

}

i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background:rgba(0,0,0,5);
    border-radius:30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: center;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #483D8B;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
   
header ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  border-radius: 30px;
}
header ul li a:hover{
background-color: #fff;
color: #000;
}
header .menu{
    font-size: 1.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right  0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
    }
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.name{
    width :850px;
    position: absolute;
    top: 350px;
    left: 55%;
    transform: translate(-50%,-50%);
}
.name h1{
    color: #fff;
    font-size: 70px;
}
.name h2{
    color: #fff;
    font-size: 20px;
}
.name h3{
    color: #fff;
    font-size: 15px;
}
.button{
    position: absolute;
    top: 490px;
    left: 36.5%;
    transform: translate(-50%,-50%);
}
.btn{
   border: 1px solid #fff;
   padding: 10px 30px;
   color: #fff;
   text-decoration: none;
   transition: 0.6s ease;
   border-radius: 30px;
}
.btn:hover{
    background-color: #fff;
    color: #000;

}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 500px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top :750px;


    }
footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: row;
        color: #fff;

    }


.contactinfo{
        max-width: 100%;
        background: #111;
        padding: 8px 100px;
        text-align: center;
        color: #fff;


    }

.contactinfo .cinfo{
    position: relative;


    }

 .contactinfo .cinfo li{
       display: flex;
       margin-bottom: 16px;

    }

 
 .contactinfo.cinfo li span{
    color: #fff;
    }

.contactinfo .cinfo li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;

    }

.contactinfo .cinfo a{
    color: #fff;
    text-decoration: none;

    }
.contactinfo .cinfo a:hover{
        color: #fff;

    }
.copyrightText{
    max-width: 100%;
    background: #111;
    padding: 30px 13px;
    text-align: center;
    color: #fff;

}







