*{
    box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
}

header{
   height: 120px;
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: Century Gothic;
   position: fixed;
   position: relative;
   z-index: 99;

}

header ul li.active a{
    color: #fff;
}

i
{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

header .search-box{
    flex: 1;
    position: relative;
}

.searchbox input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background:rgb(173, 216, 230);
    border-radius:30px;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.searchbox button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 40px;
    right: 833px;
    transform: scale(0.9);
    background: #00BFFF;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}
   
header ul li a{
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  border-radius: 30px;
}

header ul li a:hover{
   background-color:#000;
   color: #fff;
}

@media(max-width:1000px){
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right  0.5s linear;
    }
}

@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
    }
}

header ul li.active a{
    background-color: #000;
    color: #fff;
}

.selec
{
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('3@.jpg'); 
    background-size: cover;
    margin: auto;
    margin-top: 0px;
    height: 500px;
}

.selection
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750x;
    height: 250px;
    padding: 50px 50px 20px 50px ;
    box-sizing: border-box;
    background: rgba(0,0,0.5,0.5);
    opacity: 0.75;
    border-radius: inherit;
    border: 0px solid;
}

.option
{
    border: 1px solid;
    padding: 1px 1px 1px 1px;
}

.selec input[type="submit"]
{
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 15px;
    background: darkgray;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-family:Century Gothice;
}

.selec input[type="submit"]:hover
{
    background: blue;
}

.link
{
    margin-top: 70px;
    text-align: left;    
}

.link a{
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: darkmagenta;
    font-weight: bold;
    text-align: match-parent;
}

.link a:hover{
    color:white;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 500px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top :0px;
}

footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: row;
        color: #fff;

    }

.contactinfo{
        max-width: 100%;
        background: #111;
        padding: 8px 100px;
        text-align: center;
        color: #fff;
}

.contactinfo .cinfo{
    position: relative;
}

 .contactinfo .cinfo li{
       display: flex;
       margin-bottom: 16px;
}

 .contactinfo.cinfo li span{
    color: #fff;
    }

.contactinfo .cinfo li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactinfo .cinfo a{
    color: #fff;
    text-decoration: none;

    }

.contactinfo .cinfo a:hover{
        color: #fff;
}

.copyrightText{
    max-width: 100%;
    background: #111;
    padding: 30px 13px;
    text-align: center;
    color: #fff;
}
