*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

body{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('6 dea.jpg');
height: 150vh;
background-size: cover;
background-position: center;

}

header{
   display: flex;
   top: 10px;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 99;
 

}
ul li.active a{
    color: #fff;

}

i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .searchbox{
    flex: 1;
    position: relative;
    left:10%;
}
.searchbox input{
    width: 130%;
    height: 40px;
    border: none;
    outline: none;
    background:#D3D3D3;
    border-radius:30px;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.searchbox button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #00BFFF;
    left:115.9%;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left:20%;
}
header ul li{
    list-style: none;
    
}
   
header ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  border-radius: 30px;
 
}
header ul li a:hover{
background-color: #fff;
color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
  
}
.goback form a{
    position :absolute;
     top: 780px;
     left: 3%;
     border: 1px solid transparent;
     padding: 10px 15px;
     color: #fff;
     text-decoration: none;
     transition: 0.6s ease;
     border-radius: 30px;
}
.goback form a:hover{
     background-color: #fff;
      color: #000;
}

.Signin{
    width: 350px;
    top:300px;
    left:45%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
    
    
}
.Signin h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.Signin p{
    font-size: 20px;
    margin: 15px 0;
}
.Signin input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.custom-select{
    top:480px;
    right:43.5%;   
}
.custom-select select{
    font-size: 16px;
    padding: 15px 220px 12px 2px;
    border-radius: 30px;
    border:0;
    right: 40%;
    color: #808080;
}
.custom-select{
    position:relative;
}
.custom-arrow{
    position: absolute;
    top:0;
    right:0;
    display: block;
    background: #000;
    height:100%;
    width: 4em;
    pointer-events: none; 
    border-radius: 30px;
}
.custom-arrow::before,
.custom-arrow::after
{
    
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);
}
.custom-arrow::before{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(255,255,255,0.5);
    
    top:35%
}
.custom-arrow::after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255,255,255,0.5);
    top:65%
}
.button{
    position: absolute;
    top: 580px;
    left: 41%;
    transform: translate(-50%,-50%);
}
.btt{
   font-size: 16px;  
   font-weight: bold;
   border: 0;
   padding: 10px 30px;
   color: #000;
   text-decoration: none;
   background-color: #fff;
   border-radius: 30px;
}
.btt:hover{
    background-color: #fff;
    color: #000;

}
.signupbtn {
   
    top:680px;
    left:41.7%;
    transform: translate(-50%,-50%);
    position: absolute;  
 
    
  }
.signupbtn p{
     font-size: 12px;
    margin: 5px 0;
      color: #fff;
  }
 .up{
   font-size: 12px;  
   border: none;
   padding: 2px 5px;
   color: #66FFFF;
   text-decoration: none;
   transition: 0.6s ease;
   border-radius: 30px;
}
.up:hover{
    background-color: #fff;
    color: #000;

}
header .menu{
    font-size: 1.5em;
    display: none;
}
@media(max-width:1000px){
    .searchbox button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right  0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
    }
}
#chk1{
    display: none;
}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 500px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top :800px;


    }
footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: row;
        color: #fff;

    }


.contactinfo{
        max-width: 100%;
        background: #111;
        padding: 8px 100px;
        text-align: center;
        color: #fff;


    }

.contactinfo .cinfo{
    position: relative;


    }

 .contactinfo .cinfo li{
       display: flex;
       margin-bottom: 16px;

    }

 
 .contactinfo.cinfo li span{
    color: #fff;
    }

.contactinfo .cinfo li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;

    }

.contactinfo .cinfo a{
    color: #fff;
    text-decoration: none;

    }
.contactinfo .cinfo a:hover{
        color: #fff;

    }
.copyrightText{
    max-width: 100%;
    background: #111;
    padding: 30px 13px;
    text-align: center;
    color: #fff;

}







